body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    background: white;
    margin-bottom: 50px;
  }

  #input-form-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  #company-form {
    width: 100%;
  }

  #company-form input,
  #company-form textarea {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
  }
  
  #button-container {
    display: flex;
    justify-content: space-between;
  }

  #company-form button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
  }

  #company-form button:hover {
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  }
  
  #company-info {
    width: 100%;
    padding: 30px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  

/* Denne CSS-filen har noen grunnleggende stiler, inkludert:
En standard font og bakgrunnsfarge for hele nettsiden.
Stiler for header og footer, inkludert bakgrunnsfarge og tekstfarge.
Marg og padding for hovedinnholdet og skjemaet.
Spesifikke stiler for input- og textarea-elementene i skjemaet, inkludert display, marg, padding og bredde.
Stiler for knappene i skjemaet, inkludert padding, marg og en peker cursor når musen er over dem.
Stiler for bedriftsinformasjonsdiven, inkludert padding, border og bakgrunnsfarge.